---
layout: default
---
<!-- test -->
<h1>Data Structures and Object Oriented Design</h1>
<span class="subtitle">University of Southern California, {{ site.data.course.semester }}</span>
<span class="subtitle">
  {% for professor in site.data.people.instructors %}
  {{ professor.name }}
  {% endfor %}
</span>
<div class="columns">
  <div>
    <h2>General</h2>
    <div class="links">
      {% for item in site.data.navigation.items %}
      {% if item.index != false %}
      <a href="{{ site.baseurl }}{{ item.url }}"><img src="{{ site.baseurl }}{{ item.icon }}">{{ item.title }}</a>
      {% endif %}
      {% endfor %}
    </div>
  </div>
  <div class="space"></div>
  <div>
    <h2>Useful Links</h2>
      <ul>
		<li><a href="{{site.data.urls.codio_course}}" target="_blank">Codio Course Link</a>&nbsp/&nbsp<a href="{{site.data.urls.codio_join}}" target="_blank">Codio Join Link</a></li>
        <li><a href="{{site.data.urls.osas_dsp_form}}" target="_blank">OSAS Accommodation Letter Upload</a></li>
        <li><a href="{{site.data.urls.extension_form}}" target="_blank">Emergency HW Extension Form</a></li>
        <li><a href="{{site.data.urls.excused_lab}}" target="_blank">Excused Lab Absence Form</a></li>
        <li><a href="{{site.data.urls.piazza}}" target="_blank">EdStem Discussion Board</a>&nbsp/&nbsp<a href="{{site.data.urls.discussion-join}}" target="_blank">EdStem Join Link</a></li>
		<li><a href="{{site.data.urls.regrades}}" target=_blank>Homework Regrade Form</a></li>
      </ul>
      
    <h2>Announcements</h2>
    {% for post in site.posts limit:2 %}
    <div class="post">
      <h3 class="black">{{ post.title }}</h3>
      {{ post }}
    </div>
    {% endfor %}
  </div>
</div>
