---
layout: default
---

<h1>Data Structures and Object Oriented Design</h1>
<span class="subtitle">University of Southern California, {{ site.data.course.semester }}</span>
<span class="subtitle">
  {% for professor in site.data.people.instructors %}
  {{ professor.name }}
  {% endfor %}
</span>
<div class="columns">
  <div>
    <h2>General</h2>
    <div class="links">
      {% for item in site.data.navigation.items %}
      {% if item.index != false %}
      <a href="{{ item.url }}"><img src="{{ item.icon }}">{{ item.title }}</a>
      {% endif %}
      {% endfor %}
    </div>
    <h2>External</h2>
    <div class="links">
      <a href="{{ site.data.urls.piazza }}"><img src="/assets/img/icon/discussion.svg">Piazza</a>
      <a href="{{ site.data.urls.github }}"><img src="/assets/img/icon/github.svg">GitHub organization</a>
      <a href="{{ site.data.urls.calendar }}"><img src="/assets/img/icon/google-calendar.svg">Office hours calendar</a>
    </div>
  </div>
  <div class="space"></div>
  <div>
    <h2>Announcements</h2>
    {% for post in site.posts limit:5 %}
    <div class="post">
      <h3 class="black">{{ post.title }}</h3>
      {{ post }}
    </div>
    {% endfor %}
  </div>
</div>
