---
layout: default
title: Data Structures and Object Oriented Design
---

<h1>Staff and Hours</h1>
<p>
  For special questions, you can contact your instructor.
  However, we encourage you to use <a href="{{ site.data.urls.piazza }}">the course Piazza page</a> so that other students can also benefit from these questions or answer them.
  Note that <span class="font-bold">we may change the listed office hours</span> as needed, or add more before homework deadlines or examinations.
  For an up to date listing please see the <a href="{{ site.data.urls.calendar }}">Google Calendar</a>
</p>
<h2>Instructors</h2>
<div class="people">
  {% for person in site.data.people.instructors %}
    {% include person.html %}
  {% endfor %}
</div>
<h2>Teaching Assistants</h2>
<div class="people">
  {% for person in site.data.people.assistants %}
    {% include person.html %}
  {% endfor %}
</div>
<h2>Course Staff</h2>
<div class="people">
  {% for person in site.data.people.staff %}
    {% include person.html %}
  {% endfor %}
</div>
<h2>Graders</h2>
<span>Amulya Raveendra Katti</span>
<span><a href="mailto:akatti@usc.edu">akatti@</a></span>
