---
layout: default
---

<h1>Sections</h1>
<p>
  You are required to attend the lecture section that you are officially enrolled in.
  It is highly recommended that you attend lecture.
</p>
<h2>Lectures</h2>
<table class="standard sections">
  <thead>
    <tr>
      <th>Identifier</th>
      <th>Time</th>
      <th>Location</th>
      <th>Instructors</th>
    </tr>
  </thead>
  <tbody>
    {% for section in site.data.course.sections.lectures %}
    <tr>
      <td>{{ section.id }}</td>
      <td>{{ section.time }}</td>
      <td>{{ section.location }}</td>
      <td>{{ section.instructors }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<h2>Labs</h2>
<table class="standard sections">
  <thead>
    <tr>
      <th>Identifier</th>
      <th>Time</th>
      <th>Location</th>
      <th>Instructors</th>
    </tr>
  </thead>
  <tbody>
    {% for section in site.data.course.sections.labs %}
    <tr>
      <td>{{ section.id }}</td>
      <td>{{ section.time }}</td>
      <td>{{ section.location }}</td>
      <td>{{ section.instructors }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<h2>Exams</h2>
<p>
  Check the <a href="/schedule/">semester schedule</a> for exam dates and times.
</p>
