---
layout: asides
toc: true
title: Homework
---

<h1 id="assignments">Homework</h1>
<p>
  Homework will be assigned once every 2 weeks.
  It will be graded, and require substantial work.
  The average student should <span class="font-bold">expect to spend about 15 hours per homework</span>.
</p>
<p>
  Each assignment has a written component, and a programming component.  The written component will be submitted through Blackboard, and will be due one week after being assigned.
  The programming component will be submitted through <a href="{{ site.data.urls.github }}" target="_blank">GitHub</a> and will be due two weeks after being assigned.
  Most programming assignments will take a significant amount of time: students are expected to start before the written assignment is due.
</p>
<p>
  Students will receive a private repository on the course's <a href="{{ site.data.urls.github }}" target="_blank">GitHub</a> to use it for the development and submission of all assignments.
  You will be using the git source code management tool to maintain your homework code.
</p>
<h2 id="schedule">Schedule</h2>
<table class="standard assignments hover click">
  <thead>
    <tr>
      <th>#</th>
      <th>Link</th>
      <th>Title</th>
      <th>Due</th>
    </tr>
  </thead>
  <tbody>
    {% for assignment in site.data.content.assignments %}
    <tr
      {% if assignment.assigned %}
      onclick="window.location = './{{ assignment.id }}/'"
      {% else %}
      class="disabled"
      {% endif %}
    >
      <td>{{ forloop.index }}</td>
      <td>
        {% if assignment.assigned %}
        <a href="./{{ assignment.id }}/">Write</a>
        {% else %}
        Write
        {% endif %}
      </td>
      <td>{{ assignment.title }}</td>
      <td>{{ assignment.dates.due }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<h2 id="submission">Submission</h2>
<p>
  In order to properly submit your assignment, please follow the course submission instructions.
  Read them carefully and follow them for each homework.
  <span class="font-bold">Failure to do so may lead to a 0 on the assignment</span> even though you may have had all the code working on your machine.
</p>
<p class="font-bold">
  You will NOT receive an exception for failing to follow these instructions!
</p>
<p>
  For example, often times students forget to commit/push a file that is part of their solution to Github.
  If they had followed the submission instructions and re-cloned their repo to a temporary folder and attempted to build their assignment code, they would have easily found the issue.
  We cannot accept files that were not submitted or files where you submitted "the wrong version".
  We can only grade what you submitted.
</p>
<p>
  In addition to making sure your submission is on time, <span class="font-bold">please make sure that the code you submit is formatted and works as expected with <code>g++</code></span>.
  We will grade your assignments using <code>g++</code> at the command line in the virtual machine we provide for the course.
  You are free to use other compilers or IDEs to develop your code, but in the end, it has to work with <code>g++</code> on the course virtual machine.
</p>
<p>
  <span class="font-bold">You WILL lose points for submitting unreadable code, or for failing to follow submission instructions.</span> Be sure to refer to our <a href="./rubric" target="_blank">Visual Inspection Rubric</a> before submitting.
</p>
<h2 id="policies">Policies</h2>
<p>
  For each assignment, a precise time will be specified on the due date (usually at 11:59 PM PST).
  The programming submission must be made correctly via your github account and your SHA must be submitted on the appropriate submission page.
</p>
<p>
  All students have 3 late days to use over the course of the semester.  You may submit up to 24 hours late (on either written or programming assignments), three times.  Just submit within that time window, and you're good to go!
</p>
<h2 id="grade-disputes">Grade Disputes</h2>
<p>
  We will work hard to post assignment scores and feedback within two weeks of the assignment's due date.
  Exams will typically be graded within at most a few days of the exam date.
  If you have not received your score on a particular assignment even though most other students in the class have (say, 24 hours after the score release date), post a private note on Piazza and someone will then follow up with your grader.
</p>
<p>
  <span class="font-bold">Any disputes with posted grades must be raised within seven days of the score posting</span>.
  Then follow the process below for the type of regrade you are requesting.
</p>
<h3 id="homework-regrades">Homework Regrades</h3>
<p>
  Fill out the homework regrade form (which will be posted on Piazza after grades are released) and wait for someone to be in touch with you, usually via email (for written homeworks) or an issue being posted on your Github repo issue tracker (for programming assignments).
  You may also visit the designated regrade TA within 1 week of your score posting.
  If you do not hear from someone within a few days post a private note on Piazza listing the issue.
  Notice that any regrade request will result in us trying to give the fairest possible grade to you, which could be higher or lower than the one you received originally.
  If you do not submit your regrade in seven days you are not eligible for a regrade, even if it is our grading mistake.
  Be prompt and do not delay reviewing your HW grades.
</p>
<h3 id="exam-regrades">Exam Regrades</h3>
<p>
  See your registered instructor.
  Only instructors can determine exam regrades.
</p>
<h2 id="academic-integrity">Academic Integrity</h2>
<p>
  We take academic integrity very seriously in our CS courses to ensure that your grades reflect your mastery of the material presented in this class as well as to provide fairness to fellow students, to ensure the reputation of USC, and the expectations of our constituencies are met.
</p>
<p>
  <span class="font-bold">Your homework assignments and exams are all individual effort</span>.
  For homework assignments, you may only have high level discussions with classmates.
  Any discussion that includes specific code and implementation details is an inappropriate level of collaboration.
  Looking for similar examples of code online is also a likely violation if you model your code after those online examples.
  <span class="font-bold">We run all submissions through code similarity tools that compares every student to every other student from this semester and past semesters</span>.
  If you are suspected of violating the academic integrity code of conduct you will:
</p>
<ul>
  <li>
    Be reported to SJACS which will acts as an impartial 3rd party to determine if a violation has occurred.
  </li>
  <li>
    If a violation is deemed to have occurred, the recommended sanction is a 0 on the assignment and 1 letter grade drop.
    For example, if you would have gotten a B+ you would receive a C+.
  </li>
  <li>
    If SJACS determines this is not your first violation, they may initiate a review that could lead to suspension from the school.
  </li>
</ul>
<p>
  The official language on academic integrity is on the <a href="/syllabus/">syllabus</a>, but what is written below acts as an additional, binding policy for this course:
</p>
<p>
  Collaboration is important in an academic environment.
  We want to be sure that you are aware of what is appropriate collaboration and conduct and what may be considered a violation of academic conduct rules.
  Here are some examples of things you can and cannot do:
</p>
<h3 id="acceptable-behavior">Acceptable Behavior</h3>
<ul>
  <li>
    Discussing high-level ideas (no coding terms at all) with other students is fine.
    It is even helpful if you annotate your work with the names of your collaborators.
  </li>
  <li>
    Asking course staff (instructor, TAs, CPs) for help or to look at your code is acceptable.
  </li>
  <li>
    Copying test cases from other students or Piazza when test cases are not graded is fine since it serves to teach you something, and there is no risk that you will get points for the work of other students.
  </li>
  <li>
    Looking up concepts, syntax, and basic instructions on how to deal with the topics online is also acceptable as you are learning.
  </li>
</ul>
<h3 id="punishable-behavior">Punishable Behavior</h3>
<ul>
  <li>
    <span class="font-bold">Having other students in the class look at your code or access a copy of your code is not acceptable.</span>
    If test cases are graded, it is also not acceptable to let other students have copies of those test cases.
    It is also not acceptable to get copies of code or test cases from students who were enrolled in a previous term of CSCI 104.
    That would even be a violation for the student not enrolled in CSCI 104 this term.
  </li>
  <li>
    <span class="font-bold">Searching for similar HW code and solutions on Github, online sources, or other textbooks is not allowed, even just for "reference"</span>.
    If you happen to find related work in a source that is not course materials, it is best that you cite the materials in your work as comments and notify your instructor.
  </li>
  <li>
    <span class="font-bold">Posting in online forums asking people to solve homework questions, paying for solutions, or retrieving solutions online is also not acceptable</span>.
  </li>
</ul>
<p>
  In summary, <span class="font-bold">any time that you are trying to get higher grades for work that you did not earn is not acceptable</span>.
  Any behavior by which you are attempting to receive or grant an unfair advantage that your classmates who are following the rules do not have is not acceptable.
  Please act with the integrity that is expected of USC Trojans.
</p>
<p>
  We run MOSS on all homework submissions to catch inappropriate collaboration and plagiarism.
  If there is suspected cheating, you will be reported to <a href="http://sjacs.usc.edu/">SJACS</a>, no exceptions.
</p>
<h3 id="avoiding-plagiarism">Avoiding Plagiarism</h3>
<p>
  In order to make sure that an appropriate level of collaboration is used between you and your classmates, please do not keep notes, pictures, or any records from your discussions.
  This will ensure that your work reflects only your understanding when you create it.
  Please do not sit coding next to each other while discussing the work.
  If you are concerned that an inappropriate level of collaboration has occured, please do the following:
</p>
<ul>
  <li>
    Keep no notes, pictures, or records from your discussions.
  </li>
  <li>
    Cite your collaborators in your comments in your work.
  </li>
  <li>
    Take at least a 30 minute break before you continue working and make sure that your work only reflects your own understanding of the solution.
    If you truly do not understand part of the solution, please do not include it as your own work.
  </li>
</ul>
