---
layout: default
---

<h1>Semester Schedule</h1>
<p>
  It is recommended that students take careful notes from recordings and during class meetings.
  Before class meetings, it is helpful to review relevant chapters in <a href="{{ site.data.urls.notes }}">course notes</a>.
  Slides and annotated notes will be available on the course Piazza only under the Resources tab.
</p>
<p>
  Chapter numbers under the textbook column refer to the textbook, while the chapter numbers under "notes" refer to the posted lecture notes.
</p>
<h2>Exams</h2>
<table class="standard exams">
  <thead>
    <tr>
      <th></th>
      <th>Exam</th>
      <th>Time</th>
      <th>Location</th>
      <th>Material</th>
    </tr>
  </thead>
  <tbody>
    {% for exam in site.data.schedule.exams %}
    <tr>
      <td>{{ forloop.index }}</td>
      <td>{{ exam.name }}</td>
      <td>{{ exam.time }}</td>
      <td>{{ exam.location }}</td>
      <td>
        <ul>
          {% for material in exam.material %}
          <li>{{ material }}</li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<h2>Lectures</h2>
<table class="standard lectures">
  <thead>
    <tr>
      <th></th>
      <th>Topics</th>
      {% if site.data.schedule.show.lectures.chapters %}<th>Chapters</th>{% endif %}
      {% if site.data.schedule.show.lectures.notes %}<th>Notes</th>{% endif %}
    </tr>
  </thead>
  <tbody>
    {% for lecture in site.data.schedule.lectures %}
    <tr>
      <td>{{ forloop.index }}</td>
      <td>
        <ul>
          {% for topic in lecture.topics %}
          <li>{{ topic }}</li>
          {% endfor %}
        </ul>
      </td>
      {% if site.data.schedule.show.lectures.chapters %}
      <td>
        <ul>
          {% for chapter in lecture.chapters %}
          <li>{{ chapter }}</li>
          {% endfor %}
        </ul>
      </td>
      {% endif %}
      {% if site.data.schedule.show.lectures.notes %}
      <td>
        {% if lecture.notes %}
        <a href="./notes/{{ lecture.notes }}">{{ lecture.notes }}</a>
        {% endif %}
      </td>
      {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>
