.showcase {
  width: 100%;
  text-align: center;
  margin: 1.5em 0;

  img {
    box-shadow: 0 0 5px #ddd;
  }

  img.no-shadow {
    box-shadow: none;
  }

  .caption {
    margin-top: 0.5em;
    display: block;
    width: 100%;
    color: gray;
  }
}
