$content-max-width: 800px;
$aside-min-width: 250px;
$aside-max-width: 300px;

@mixin fixed-aside {
  z-index: 0;
  position: fixed;
  width: calc(max(#{$aside-min-width}, min((100% - #{$content-max-width}) / 2, #{$aside-max-width})));
}

.default {
  #content {
    max-width: $content-max-width;
    margin: 6em auto 4em auto;
    padding: 0 1em;
    box-sizing: border-box;

    & > *:first-child {
      margin-top: 0;
    }
  }
}

.asides {
  display: flex;
  flex-direction: row;

  #content {
    margin-top: 6em;
    margin-bottom: 4em;
    box-sizing: border-box;
    max-width: $content-max-width;
    min-width: 0;
    padding: 0 1em;

    & > *:first-child {
      margin-top: 0;
    }
  }

  .aside {
    flex-basis: 0;
    flex-grow: 1;
    min-width: $aside-min-width;

    *.header {
      display: block;
      font-size: inherit;
      padding: 1em;
      margin: 0;
    }
  }
}

@media only screen and (max-width: #{$content-max-width + $aside-min-width}) {
  .asides .aside.right {
    display: none;
  }
}

@media only screen and (max-width: #{$content-max-width}) {
  .asides .aside.left {
    display: none;
  }
}
