@import 'curricula/theme';
@import 'layout';

#navigation {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--color-primary);
  padding: 1em;
  color: var(--color-primary-text);
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center;

  * {
    color: inherit;
  }

  .item {
    padding-right: 2.5em;
    text-wrap: none;
    white-space: nowrap;

    &:last-child {
      padding-right: 0;
    }
  }

  .spacer {
    flex-grow: 1;
  }

  .theme-toggle {
    height: 1.25em;
    filter: var(--icon-filter-navigation);
    cursor: pointer;
  }
}

.toc {
  overflow: scroll;
  @include fixed-aside;
  display: flex;
  flex-direction: column;
  height: 100vh;

  .spacer {
    display: block;
    flex-grow: 1;
  }

  .tasks {
    padding-right: 1em;
  }

  .item {
    display: block;
    padding: 0.2em 1em;

    &.a {
      color: var(--color-primary);
      cursor: pointer;

      &:hover {
        background-color: var(--color-background-sidebar-hover);
      }
    }
  }

  & > *:last-child {
    display: block;
    padding-bottom: 1em;
  }

  a.header {
    &:hover {
      background-color: var(--color-background-sidebar-hover);
    }
  }

  ul.section-nav {
    margin-top: 0;
    list-style: none;
    padding-left: 0;

    ul {
      padding-left: 0;
      list-style: none;
    }

    a {
      display: block;
      padding: 0.2em 1em;

      &:hover {
        background-color: var(--color-background-sidebar-hover);
      }

      &.first-in-view {
        background-color: var(--color-background-sidebar-selected);
      }
    }

    li.toc-h2 > a { padding-left: 1em + 1 * 0.6em; }
    li.toc-h3 > a { padding-left: 1em + 2 * 0.6em; }
    li.toc-h4 > a { padding-left: 1em + 3 * 0.6em; }
    li.toc-h5 > a { padding-left: 1em + 4 * 0.6em; }
  }
}
