---
layout: default
title: Data Structures and Object Oriented Design
---

<h1>Course Staff</h1>
<p/>
  All questions related to the course must use <a href="{{ site.data.urls.piazza }}">the course EdStem page</a>. For general or assignment questions, this allows other students to see your question and answer. For individual or administrative questions, posting to the discussion board privately will get "more eyes on it" so that hopefully it can be answered quickly. Course staff will tag the instructor or course administrator, if necessary, to bring prompt attention to your query.
  
  <p/>
  For an up to date listing of instructor and TA office hours, please see the <a href="{{ site.data.urls.calendar }}">Google Calendar</a>. 
  <p/>
  Tutors do not hold office hours. See the <a href="{{ site.baseurl }}{{ site.data.navigation.items[2].url }}">tutoring page</a> for more details.

<h2>Instructors</h2>
<div class="people">
  {% for person in site.data.people.instructors %}
  {% include person.html %}
  {% endfor %}
</div>
<h2>Course Administrators</h2>
<div class="people">
  {% for person in site.data.people.administrators %}
  {% include person.html %}
  {% endfor %}
</div>
<h2>Teaching Assistants</h2>
<div class="people">
  {% for person in site.data.people.assistants %}
  {% include person.html %}
  {% endfor %}
</div>
<h2>Tutors</h2>
<div class="people">
  {% for person in site.data.people.staff %}
  {% include person.html %}
  {% endfor %}
</div>
<!-- <h2>Graders</h2>
<div class="people">
  {% for person in site.data.people.graders %}
  {% include person.html %}
  {% endfor %}
</div> -->
