---
layout: default
title: Data Structures and Object Oriented Design
---

<h1>Staff and Hours</h1>
<p>
  For special questions, you can contact your instructor.
  However, we encourage you to use <a href="{{ site.data.urls.piazza }}">the course Piazza page</a> so that other students can also benefit from these questions or answer them.
  Note that <span class="font-bold">we may change the listed office hours</span> as needed, or add more before homework deadlines or examinations.
  For an up to date listing please see the <a href="{{ site.data.urls.calendar }}">Google Calendar</a>
</p>
<iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=America%2FLos_Angeles&amp;src=Y191Z2M3am1kY2plY2hib2psaWhnZ2pyZnEza0Bncm91cC5jYWxlbmRhci5nb29nbGUuY29t&amp;color=%233F51B5&amp;mode=WEEK&amp;showTabs=1" style="border:solid 1px #777" width="800" height="600" frameborder="0" scrolling="no"></iframe>
<h2>Instructors</h2>
<div class="people">
  {% for person in site.data.people.instructors %}
  {% include person.html %}
  {% endfor %}
</div>
<h2>Teaching Assistants</h2>
<div class="people">
  {% for person in site.data.people.assistants %}
  {% include person.html %}
  {% endfor %}
</div>
<h2>Course Staff</h2>
<div class="people">
  {% for person in site.data.people.staff %}
  {% include person.html %}
  {% endfor %}
</div>
<h2>Graders</h2>
<div class="people">
  {% for person in site.data.people.graders %}
  {% include person.html %}
  {% endfor %}
</div>
