---
---

@import 'curricula/theme';
@import 'curricula/forms';
@import 'curricula/code';
@import 'curricula/table';
@import 'curricula/layout';
@import 'curricula/card';
@import 'curricula/extra';

@import 'navigation';
@import 'people';
@import 'layout';
@import 'tasks';
@import 'syntax';
@import 'images';

body {
  font-size: 16px;
  margin: 0;
}

.subtitle {
  font-size: 18px;
  display: block;
}

h3.black {
  color: var(--color);
}

.post {
  margin-bottom: 1em;

  h3 {
    margin-top: 0;
  }
}

.columns {
  display: flex;
  flex-direction: row;

  & > div {
    flex-basis: 400px;
    flex-grow: 1;
  }

  & > div.space {
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: 3em;
    min-width: 3em;
  }
}

table.lectures, table.exams {
  margin-bottom: 2em;

  th:nth-child(1), td:nth-child(1) { width: 4%; }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      margin-bottom: 0.1em;
    }
  }
}

#content #responsive-image {  width: 100%;  height: auto; } 