---
layout: base
---

<div class="asides">
  <div class="aside left">
    {% if page.toc %}
    <div class="toc">
      <a class="header" href="/">CSCI 104</a>
      {{ content | toc_only }}
      <span class="spacer"></span>
      {% if page.tasks %}
      <div class="tasks">
        <span id="task-next-incomplete" class="item a">
          Next incomplete
        </span>
        <span class="item">
          Task completion:
          <span id="task-percentage">0%</span>
        </span>
      </div>
      {% endif %}
    </div>
    {% endif %}
  </div>
  <div id="content" {% if page.class %}class="{{ page.class }}"{% endif %}>
    {{ content | inject_anchors }}
  </div>
  <div class="aside right">
  </div>
</div>
<script type="text/javascript" src="/assets/js/asides.js"></script>
