<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
  </head>
  <body class="night">
    {% if page.navigation != false %}
    <div id="navigation">
      <div><a href="/">CSCI 104</a></div>
      <div class="item"><a href="/people">Staff</a></div>
      <div class="item"><a href="/syllabus">Syllabus</a></div>
      <div class="item"><a href="/sections">Sections</a></div>
      <div class="item"><a href="/schedule">Schedule</a></div>
      <div class="item"><a href="/wiki">Wiki</a></div>
      <div class="item"><a href="/tools">Tools</a></div>
    </div>
    {% endif %}
    {{ content }}
  </body>
</html>
